<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>product</display-name>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
   
   <servlet>
   	<servlet-name>UploadServlet</servlet-name>
   	<servlet-class>com.kisara.product.UploadImage</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>product</servlet-name>
   	<servlet-class>com.kisara.product.GetProduct</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>insertproduct</servlet-name>
   	<servlet-class>com.kisara.product.InsertProduct</servlet-class>
   </servlet>
   <servlet-mapping>
   	<servlet-name>product</servlet-name>
   	<url-pattern>/fetchproduct</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>insertproduct</servlet-name>
   	<url-pattern>/insertproduct</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>UploadServlet</servlet-name>
   	<url-pattern>/uploadimage</url-pattern>
	</servlet-mapping>
</web-app>